<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script>
    document.write('<style>html{font-size:'+window.innerWidth / 10+'px;}</style>');
  </script>
  <link rel="stylesheet" href="./src/css/animate.min.css">
  <link rel="stylesheet" href="./src/css/style.css">
</head>
<body>
<div id="app">
  <div class="popup-wrap">
    <div class="popup-flex">
      <div class="popup xianjin-popup big-model animated bounceInDown">
        <img src="./src/images/model/close.png" class="close-btn" alt="关闭">
        <p class="popup-number">{{prizeNumber}}</p>
        <div class="popup-buttons">
          <a class="only-btn" href="javascript:void(0)"><img src="./src/images/model/ok.png" alt="确定"></a>
        </div>
      </div>
      <div class="popup hongbao-popup big-model animated bounceInDown">
        <img src="./src/images/model/close.png" class="close-btn" alt="关闭">
        <div class="popup-buttons">
          <a class="two-btn" href="javascript:void(0)"><img src="./src/images/model/againGame.png" alt="继续抽奖"></a>
          <a class="two-btn" href="javascript:void(0)"><img src="./src/images/model/toInvest.png" alt="去投资"></a>
        </div>
      </div>
      <div class="popup fail-popup small-model animated shake">
        <img src="./src/images/model/close.png" class="close-btn" alt="关闭">
        <p class="popup-text">很遗憾!请再接再厉!</p>
        <div class="popup-buttons">
          <a class="only-btn" href="javascript:void(0)"><img src="./src/images/model/ok.png" alt="确定"></a>
        </div>
      </div>
      <div class="popup login-popup small-model animated shake">
        <img src="./src/images/model/close.png" class="close-btn" alt="关闭">
        <p class="popup-text">请先登录平台账号!</p>
        <div class="popup-buttons">
          <a class="only-btn" href="#"><img src="./src/images/model/toLogin.png" alt="去登录"></a>
        </div>
      </div>
      <div class="popup noTimes-popup small-model animated shake">
        <img src="./src/images/model/close.png" class="close-btn" alt="关闭">
        <p class="popup-text">次数用完了!</p>
        <div class="popup-buttons">
          <a class="only-btn" href="javascript:void(0)"><img src="./src/images/model/ok.png" alt="确定"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="app-bg">
    <div class="app-banner"></div>
    <div class="app-title">
      <img src="./src/images/title1.png">
    </div>
    <div class="app-content1">
      <div class="content1-main">
        <div class="main-game">
          <div class="game-prize prize1" v-bind:class="{active: current === 1}">
            <div class="prize-img"></div>
            <p class="prize-name">10元现金</p>
          </div>
          <div class="game-prize prize2" v-bind:class="{active: current === 2}">
            <div class="prize-img"></div>
            <p class="prize-name">50元红包</p>
          </div>
          <div class="game-prize prize3" v-bind:class="{active: current === 3}">
            <div class="prize-img"></div>
            <p class="prize-name">20元现金</p>
          </div>
          <div class="game-prize prize4" v-bind:class="{active: current === 4}">
            <div class="prize-img"></div>
            <p class="prize-name">5元现金</p>
          </div>
          <div class="game-prize prize5" v-bind:class="{active: current === 5}">
            <div class="prize-img"></div>
            <p class="prize-name">再接再厉</p>
          </div>
          <div class="game-prize prize6" v-bind:class="{active: current === 6}">
            <div class="prize-img"></div>
            <p class="prize-name">50元红包</p>
          </div>
          <div class="game-prize prize7" v-bind:class="{active: current === 7}">
            <div class="prize-img"></div>
            <p class="prize-name">15元现金</p>
          </div>
          <div class="game-prize prize8" v-bind:class="{active: current === 8}">
            <div class="prize-img"></div>
            <p class="prize-name">5元现金</p>
          </div>
          <div class="game-start" @click="start"></div>
        </div>
      </div>
      <div class="content1-explain">
        <img src="./src/images/rope.png" class="explain-rope rope1">
        <img src="./src/images/rope.png" class="explain-rope rope2">
        <div class="explain-tabs">
          <div class="tabs-contents">
            <div v-if="tab === 1" class="tab-content content-words">
              <div class="remain-wrap">
                <p>今日剩余抽奖<span class="remain-times">{{ times }}</span>次</p>
                <a class="get-chance" href="#"><img src="./src/images/get-chance.png"></a>
              </div>
              <div class="explain-words">
                <img src="./src/images/explain-words.png">
              </div>
            </div>
            <div v-else class="tab-content record-content">
              <img class="record-title" src="./src/images/record-title.png">
              <div v-if="records" class="record-main" v-html="records">
              </div>
              <div v-else class="record-main">
                <p style="text-align: center; color: #fff;">暂无抽奖记录!</p>
              </div>
            </div>
          </div>
          <div class="tabs-buttons">
            <a @click="tab = 1" href="javascript:void(0)"><img src="./src/images/explain-btn1.png"></a>
            <a @click="getRecords" href="javascript:void(0)"><img src="./src/images/explain-btn2.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="app-title">
      <img src="./src/images/title2.png">
    </div>
    <div class="app-content2">
      <a class="button-link" href="#"><img class="img-button" src="./src/images/button-c21.png"></a>
      <a class="button-link" href="#"><img class="bag-img" src="./src/images/button-c22.png"></a>
    </div>

    <div class="app-title">
      <img src="./src/images/title3.png">
    </div>
    <div class="app-content3">
      <a class="button-link" href="#"><img class="img-button" src="./src/images/button-c3.png"></a>
    </div>
    <div class="active-validity">
      <p>活动时间：2019年1月28日-2019年2月12日</p>
      <p>活动最终解释权归E融金服所有</p>
    </div>
  </div>
</div>
<script src="./src/js/jquery.min.js"></script>
<script src="./src/js/vue.min.js"></script>
<script>
  var endTimes = 5;
</script>
<script src="./src/js/main.js"></script>
</body>
</html>